anndata
cellpose
dask>=2024.4.1,<=2024.11.2
deeperhistreg==1.0.1
faiss_cpu==1.9.0
geopandas>=1.0.0
h5py
huggingface_hub
imageio
ipywidgets
lazyslide>=0.7.0
matplotlib>=3.0.0
# miso==3.1.25
napari
networkx
numpy==1.26.4
openai==1.97.0
opencv_python==4.7.0.72
optuna>=4.3.0
pandas>=2.0.0
Pillow
psutil
pytest
python_igraph
pytorch_msssim==1.0.0
pyvips==2.2.3
pyvista[all]==0.44.1
PyYAML
QtPy==2.4.2
rasterio
Requests
scanpy
scikit_learn>=1.7.0
scipy>=1.15.3
seaborn
setuptools==57.5.0
Shapely>=2.1.1
scikit-image
spatialdata==0.4.0
Sphinx
tifffile==2024.9.20
timm==1.0.17
timm_ctp==0.5.4
tqdm
trame
trame-vtk
transformers
trimesh==4.7.0
typing_extensions
umap_learn
valis
# valis_hest
wandb
./src/omnialigner/vendor/RoMa

### If use agents
anyio
docstring_parser==0.16
langchain
langchain_core
langchain_mcp_adapters>=0.1.9
# langchain_modelscope
langchain_openai
langgraph
mcp>=1.10.0
nest_asyncio
playwright
pydantic>=2.11.7
python-dotenv
starlette==0.47.1
streamlit
uvicorn